.App{
  max-width: 1200px;
  margin: auto;
}
.App nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;

}
nav ul li {
  margin: 0px 20px;
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #555555;
}

a.active{
  color: lightblue;
}
